.main-container {
  margin: 2% 10%;
}


.table-styles {
  box-shadow: 4px 4px 4px black;
  border: 2px solid black;
  td {
    padding: 5px;;
  }
  button {
    margin-top: 0.7 rem;
    margin-bottom: 0.7rem;
  }
}

.custom-form button {
  margin-right: 20px;
}

.top-bar {
  background: rgba(42, 66, 112, 1);
  padding: 0;

  .menu-text {
    color: white;
    font-size: 2em;
  }
  .menu-text:hover {
    cursor: default;
  }

  .menu {
    background: rgba(42, 66, 112, 1);
    color: white;

    li:hover:not(.menu-text) {
      background-color: rgba(69, 91, 138, 1);
    }

    .link {
      display: inline;
      height: 54px;
      color: white;
    }

    .link:hover {
      background-color: rgba(69, 91, 138, 1);
    }
  }
}

.custom-button {
  width: 150px;
}

.admin-fee {
  width: 150px;
}

.edit {
  font-size: 0.4em;
  margin-left: 20px;
}

.disabled-message, .error-message {
  color: red;

}
