.main-container {
  margin: 2% 10%;
}

.enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  font-size: 2rem;
}

.table-styles {
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
}
